<h1><%=@project.title%></h1>

<!-- Container -->
<div class="container" data-controller="index create-task" data-project-id=<%=@project.id%>>
  <div class="row">
    <!-- Column 1: Task list card -->
    <div class="col-sm-4">
      <% @project.tasks.each do |task| %>
        <div class="card-product" data-action="click->index#opendescription" data-task-id=<%=task.id%>>
          <div class="card-product-infos">
            <h2><%=task.title%></h2>
            <%= link_to '#', task_complete_path(@project, @task), class: 'btn btn-success' do %>
              <i class='fas fa-check'></i>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
