<div class="whitebck" >
  <h1>to dos</h1>

  <div class="adress_form" data-controller="update_task" data-project-id=<%=@project.id%> data-task-id=<%=@task.id%>>
    <%= simple_form_for([@project, @task], remote: true, data: {target: "update_task.form", id: @task.id }) do |f| %>
      <%= f.input :description, label: 'To do', input_html: { data: { action: "input->update_task#editmode", target: 'update_task.description'}, rows: 9 }, required: true  %>
      <%= f.button :submit, "Saved!", data: { action: "click->update_task#edit", update_target:"button" }, class:"btn btn-success" %>
    <% end %>
    <div data-target="update.display_description"></div>
  </div>

</div>
