<div class="whitebck todo-box">
    <h1><%= task.title %></h1>
    <div class="adress_form">
      <ul>
        <li><%= task.address %></li>
        <li><%= task.description %></li>
      </ul>
      <%= link_to 'Done', task_mark_as_done_path(@project, @task), class:"btn btn-success" %>
      <%= link_to "xD", project_tasks_path(@project) %>
    </div>
  </div>
