<div class="container">
  <div>
    <h1 class="project-title">Users</h1>
  </div>

  <!-- Container -->
  <div data-controller="index">
    <div class="row">
      <!-- Column 1: user list card -->
      <div class="col-sm-4">
        <%= form_tag users_path, method: :get do %>
          <div id="search-bar" class="my-5 input-group">
            <%= text_field_tag :user_query,
              params[:user_query],
              class: "form-control",
              placeholder: "Find a user"
            %>
            <%= submit_tag "Find", class: "btn btn-secondary" %>
          </div>
        <% end %>
        <% @users.each do |user| %>
          <% if user.team == "employee" %>
            <div class="card-product-employee" data-action="click->index#openUser" data-user-id=<%=user.id%>>
              <div class="card-product-infos">
                <h2><%=user.first_name%> <%= user.last_name %></h2>
                <%= link_to '#', class: 'btn btn-success' do %>
                  <i class='fas fa-check'></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <%end%>
      </div>

      <div class="col-sm-8 user-show">
        <div data-index-target="userdescription"></div>
      </div>
    </div>
  </div>
</div>
