<!-- TITLE AND CREATE FORM -->
<div class="container p-0">
  <div class="row justify-content-between">
    <h1 class="project-title">Projects</h1>
    <%= render "create_form" %>
  </div>
  <!-- SEARCH FORM -->
  <%= form_tag projects_path, method: :get do %>
  <div id="search-bar" class="my-5 input-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a project"
    %>
    <%= submit_tag "Search", class: "btn btn-secondary" %>
  </div>
  <% end %>
  <!-- CARDS -->
  <div class="cards">
    <% @projects.each do |project|%>
        <div class="card-category-yellow" data-controller="project-card">
          <div data-project-card-target="view" class="js-project-view">
            <h3 data-project-card-target="projectTitle"><%= link_to project.title, project_tasks_url(project), :class => "pt" %></h3>
            <div class="d-flex justify-content-between">
              <p><%= pluralize project.tasks.length, "task" %></p>
              <div class="links">
                <i class="fas fa-pencil-alt" data-action="click->project-card#preventDefault click->project-card#editCard"></i>
                <%= link_to project, method: :delete, remote: true do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div data-project-card-target="edit" class="js-project-edit">
            <%= render "edit_form", project: project %>
            <div class="d-flex justify-content-between">
              <p><%= pluralize project.tasks.length, "task" %></p>
              <div class="links">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
